@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Noto Sans", sans-serif;
  background-color: rgb(68, 7, 65);
  color: white;
}

.bg-image {
  background-image: url('/assets/noise.webp'); /* Make sure path is correct */
  background-size: cover; /* Ensure it covers the entire element */
  background-position: center; /* Centers the image */
}
