@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Noto Sans", sans-serif;
  background-color: rgb(38, 3, 36);
  color: white;
}

.bg-image {
  background-image: url('src/assets/noise.webp'); /* Make sure path is correct */
}
